concatenation,merge and joining data frames in pandas

Concatenation

In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'Item':['A','B','C','D'],
                    'Value': [1,2,3,4]})
df2 = pd.DataFrame({'Item':['E','F','G','H'],
                    'Value': [5,6,7,8]})
print(df1)
print(df2)

  Item  Value
0    A      1
1    B      2
2    C      3
3    D      4
  Item  Value
0    E      5
1    F      6
2    G      7
3    H      8

In [5]:
df1

  Item  Value
0    A      1
1    B      2
2    C      3
3    D      4

In [6]:
df2

  Item  Value
0    E      5
1    F      6
2    G      7
3    H      8

In [7]:
pd.concat([df1,df2])

  Item  Value
0    A      1
1    B      2
2    C      3
3    D      4
0    E      5
1    F      6
2    G      7
3    H      8

In [8]:
df1 = pd.DataFrame({'Item':['A','B','C','D'],
                    'Value': [1,2,3,4]})
df2 = pd.DataFrame({'Item':['E','F','G','H'],
                    'value': [5,6,7,8]})
print(df1)
print(df2)

  Item  Value
0    A      1
1    B      2
2    C      3
3    D      4
  Item  value
0    E      5
1    F      6
2    G      7
3    H      8

In [9]:
pd.concat([df1,df2])

  Item  Value  value
0    A    1.0    NaN
1    B    2.0    NaN
2    C    3.0    NaN
3    D    4.0    NaN
0    E    NaN    5.0
1    F    NaN    6.0
2    G    NaN    7.0
3    H    NaN    8.0

In [10]:
df1 = pd.DataFrame({'Item':['A','B','C','D'],
                    'Value': [1,2,3,4]})
df2 = pd.DataFrame({'Item':['E','F','G','H'],
                    'Quantity': [5,6,7,8]})
pd.concat([df1,df2])

  Item  Value  Quantity
0    A    1.0       NaN
1    B    2.0       NaN
2    C    3.0       NaN
3    D    4.0       NaN
0    E    NaN       5.0
1    F    NaN       6.0
2    G    NaN       7.0
3    H    NaN       8.0

In [11]:
df1 = pd.DataFrame({'Item':['A','B','C','D'],
                    'Value': [1,2,3,4]})
df2 = pd.DataFrame({'Item':['E','F','G','H'],
                    'Quantity': [5,6,7,8]})
pd.concat([df1,df2]).reset_index()

   index Item  Value  Quantity
0      0    A    1.0       NaN
1      1    B    2.0       NaN
2      2    C    3.0       NaN
3      3    D    4.0       NaN
4      0    E    NaN       5.0
5      1    F    NaN       6.0
6      2    G    NaN       7.0
7      3    H    NaN       8.0

In [12]:
df1 = pd.DataFrame({'Item':['A','B','C','D'],
                    'Value': [1,2,3,4]})
df2 = pd.DataFrame({'Item':['E','F','G','H'],
                    'Quantity': [5,6,7,8]})
pd.concat([df1,df2], axis=1)

  Item  Value Item  Quantity
0    A      1    E         5
1    B      2    F         6
2    C      3    G         7
3    D      4    H         8

using append to add multiple dataframes to one another

In [13]:
df1 = pd.DataFrame({'Item':['A','B','C','D'],
                    'Value': [1,2,3,4]})
df2 = pd.DataFrame({'Item':['E','F','G','H'],
                    'Quantity': [5,6,7,8]})
df3 = pd.DataFrame({'Item':['I','J','K','L'],
                    'Quantity': [9,10,11,12]})
df1.append([df2,df3])

  Item  Value  Quantity
0    A    1.0       NaN
1    B    2.0       NaN
2    C    3.0       NaN
3    D    4.0       NaN
0    E    NaN       5.0
1    F    NaN       6.0
2    G    NaN       7.0
3    H    NaN       8.0
0    I    NaN       9.0
1    J    NaN      10.0
2    K    NaN      11.0
3    L    NaN      12.0

In [14]:
dfA = pd.DataFrame({'key':['A','B','C','D'],
                    'A': [1,2,3,4]})
dfB = pd.DataFrame({'key':['E','F','G','H'],
                    'B': [5,6,7,8]})
pd.merge(dfA,dfB, on='key')

Empty DataFrame
Columns: [key, A, B]
Index: []

In [15]:
dfA = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'A': ['A0','A1','A3','A4'],
                    'B': ['B0','B1','B3','B4']})
dfB = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'C': ['C0','C1','C3','C4'],
                    'D': ['D0','D1','D3','D4']})
pd.merge(dfA,dfB, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A3  B3  C3  D3
3  K3  A4  B4  C4  D4

In [16]:
dfA = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'A': ['A0','A1','A3','A4'],
                    'B': ['B0','B1','B3','B4']})
dfB = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'C': ['C0','C1','C3','C4'],
                    'D': ['D0','D1','D3','D4']})
pd.merge(dfA,dfB, how='left', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A3  B3  C3  D3
3  K3  A4  B4  C4  D4

In [17]:
dfA = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'A': ['A0','A1','A3','A4'],
                    'B': ['B0','B1','B3','B4']})
dfB = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'C': ['C0','C1','C3','C4'],
                    'D': ['D0','D1','D3','D4']})
pd.merge(dfA,dfB, how='right', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A3  B3  C3  D3
3  K3  A4  B4  C4  D4

In [18]:
dfA = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'A': ['A0','A1','A3','A4'],
                    'B': ['B0','B1','B3','B4']})
dfB = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'C': ['C0','C1','C3','C4'],
                    'D': ['D0','D1','D3','D4']})
pd.merge(dfA,dfB, how='left', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A3  B3  C3  D3
3  K3  A4  B4  C4  D4

In [19]:
dfA = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'A': ['A0','A1','A3','A4'],
                    'B': ['B0','B1','B3','B4']})
dfB = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'C': ['C0','C1','C3','C4'],
                    'D': ['D0','D1','D3','D4']})
pd.merge(dfA,dfB, how='inner', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A3  B3  C3  D3
3  K3  A4  B4  C4  D4

Joining

In [20]:
l=pd.DataFrame({'key':['a0','b1','c2','d3'],'A':['e0','f1','g2','h3']},index=['i0','j1','k2','l3'])

In [21]:
l

   key   A
i0  a0  e0
j1  b1  f1
k2  c2  g2
l3  d3  h3

In [22]:
r=pd.DataFrame({'key':['a0','b1','c2','d3'],'A':['e0','f1','g2','h3']},index=['i3','j2','k1','l0'])

In [23]:
r

   key   A
i3  a0  e0
j2  b1  f1
k1  c2  g2
l0  d3  h3

In [24]:
l=pd.DataFrame({'A':['a0','b1','c2'],'B':['e0','f1','g2']},index=['i0','j1','k2'])

In [25]:
r=pd.DataFrame({'C':['m0','n1','p2'],'D':['r0','s1','t2']},index=['v0','w2','x3'])

In [26]:
l.join(r)

     A   B    C    D
i0  a0  e0  NaN  NaN
j1  b1  f1  NaN  NaN
k2  c2  g2  NaN  NaN

In [27]:
l.join(r,how='outer')

      A    B    C    D
i0   a0   e0  NaN  NaN
j1   b1   f1  NaN  NaN
k2   c2   g2  NaN  NaN
v0  NaN  NaN   m0   r0
w2  NaN  NaN   n1   s1
x3  NaN  NaN   p2   t2

In [28]:
22# Program for finding LCM & HCF of two input numbers
def computehcf(x,y):
  #choose the smaller number
    if x>y:
      smaller=y
    else:
      smaller=y
    for i in range(1,smaller+1):
      if((x%i==0) and (y%i==0)):
        hcf=i
    return hcf      
 
num1=int(input("enter the first number\t"))
num2=int(input("enter the second number\t"))
print("the hcf of",num1,"and",num2,"is",computehcf(num1,num2))

enter the first number	12
enter the second number	15
the hcf of 12 and 15 is 3

## **Python Dictionaries**

In [29]:
d={"brand":"ford","model":"mustang","year":1964}
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [30]:
d={"country":"india","weather":"sunny","GDP":7.9}

In [31]:
d

{'GDP': 7.9, 'country': 'india', 'weather': 'sunny'}

In [32]:
print(d["country"])

india

In [33]:
d={"brand":"ford","model":"mustang","year":1964,"year":2020}
print(d["year"])

2020

In [34]:
d={"brand":"ford","model":"mustang","model":"coupe","year":1964}
print(d["model"])

coupe

In [35]:
print(len(d))

3

In [36]:
d={"brand":"ford","model":"mustang","year":1964}
print(len(d))

3

In [37]:
d={"brand":"ford","model":"mustang","year":1964,"color":["red","pink","black"],"country":"USA"}

In [38]:
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': ['red', 'pink', 'black'], 'country': 'USA'}

In [39]:
print(type(d))

<class 'dict'>

In [40]:
d={"brand":"ford","model":"mustang","year":1964,"color":["red","pink","black"],"country":"USA"}
d["year"]=2020
print(d)
print(type(d))

{'brand': 'ford', 'model': 'mustang', 'year': 2020, 'color': ['red', 'pink', 'black'], 'country': 'USA'}
<class 'dict'>

In [41]:
d={"brand":"ford","model":"mustang","year":2020,"color":["red","pink","black"],"country":"USA"}
d.update({"Madhu":"first owner"})
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': 2020, 'color': ['red', 'pink', 'black'], 'country': 'USA', 'Madhu': 'first owner'}

In [42]:
d={"brand":"ford","model":"mustang","year":1964,"color":["red","pink","black"],"country":"USA"}
d.pop("color")
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'country': 'USA'}

In [43]:
d={"brand":"ford","model":"mustang","year":1964,"color":["red","pink","black"],"country":"USA"}
del d["year"]
print(d)

{'brand': 'ford', 'model': 'mustang', 'color': ['red', 'pink', 'black'], 'country': 'USA'}

In [44]:
d={"brand":"ford","model":"mustang","year":1964,"color":["red","pink","black"],"country":"USA"}
d.clear()
print(d)

{}

In [45]:
d={"brand":"ford","model":"mustang","year":1964,"color":["red","pink","black"],"country":"USA"}
d1=d.copy()
print(d1)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': ['red', 'pink', 'black'], 'country': 'USA'}

In [46]:
d={"child1":{"name":"mansi","DOB":"2002"},"child2":{"name":"vikas","DOB":"1985"},"child3":{"name":"payal","dOB":"2007"}}
print(d)

{'child1': {'name': 'mansi', 'DOB': '2002'}, 'child2': {'name': 'vikas', 'DOB': '1985'}, 'child3': {'name': 'payal', 'dOB': '2007'}}

In [47]:
a=33
b=200
if b>a:
  print("b>a")

b>a

In [48]:
a=333
b=33
if b>a:
  print("b>a")
elif a==b:
  print("a=b")
else:
  print("a>b")

a>b

In [49]:
a=33
b=33
if b>a:
  print("b>a")
elif a==b:
  print("a=b")

a=b

In [50]:
a=33
b=200
if b>a:print("b>a")

b>a

In [51]:
a=33
b=20
c=34
if a>b and c>a:print("both conditions are true")

both conditions are true

In [52]:
33
b=20
c=34
if a>b and c>a:print("atleast one condition is true")

atleast one condition is true

## Nested if

In [53]:
x=41
if x>10:
  print("greater than 10")
  if x>20:
    print("greater than 20")
else:
  print("less than 10")

greater than 10
greater than 20

# while loop

In [54]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [55]:
i=1
while i<6:
  print(i)
  if(i==3):
    break
  i+=1

1
2
3

In [56]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [57]:
# python program to find the lcm and hcf of two input numbers
def lcm(x,y):
 
    if x>y:
        greater = x
    else:
        greater = y
    while(True):
        if ((greater % x == 0)and (greater % y == 0)):
            lcm = greater
            break
        greater += 1
    return lcm
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
print("The LCM of", num1, "and",num2, "is", lcm(num1,num2) )

enter first number12
enter second number15
The LCM of 12 and 15 is 60